# WALLET PRIVATE KEY
PRIVATE_KEY=

# CONTRACT ADDRESSES
TREASURY_ADDRESS= # Treasury address for receiving fees
DAO_ADDRESS= # DAO address for governance
ADMIN_ADDRESS= # Admin address for contract management

# BLOCKCHAIN ENDPOINTS
POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
BSC_RPC_URL=https://bsc-dataseed.binance.org
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545

# BLOCK EXPLORER API KEYS FOR CONTRACT VERIFICATION
POLYGONSCAN_API_KEY=
BSCSCAN_API_KEY=

# GAS CONFIGURATION
REPORT_GAS= 
CMC_API_KEY=
GAS_REPORT_FILE=

# CONTRACT VERIFICATION
VERIFY= 
